.contact {
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: #014E56;
    background-image: url("../../../img/contact-bg.svg"), url("../../../img/contact-right-bg.svg");
    background-position: top 100px left -100px, bottom right -100px;
    background-repeat: no-repeat;
    background-size: 200px 200px, 225px 200px;
}
.container {
}
.contact-container {
    display: flex;
    align-items: flex-start;
}
.contact__hero {
    margin-right: 30px;
}
.contact-hero {
    max-width: 540px;
    width: 100%;
}
.contact-hero__title {
    margin: 0;
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 100px;
    color: #ffffffff;
    text-align: left;
}
.contact-hero__title-ask {
    margin: 0;
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 48px;
    color: #F67E7E;
}
.contact-hero__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact-hero__item {
    margin-bottom: 8px;
}
.contact-hero-item {
    display: flex;
    align-items: center;
    
    &::before {
        content: "";
        width: 72px;
        height: 72px;
        background-image: url("../../../img/individuals.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 23px;
    }
}
.contact-hero-item__text {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    color: #ffffffff;
    
}
@media only screen and (max-width:1300px) {
    .contact-container {
        padding-left: 100px;
        padding-right: 100px;
        // flex-direction: column;
        // align-items: center;
    }
}
@media only screen and (max-width:1100px) {
    .contact-hero__title {
        text-align: center;
        font-size: 64px;
        line-height: 56px;
    }
    .contact-hero__title-ask {
        text-align: center;
    }
    .contact-container {
        flex-direction: column;
        align-items: center;
        font-size: 32px;
        line-height: 48px;
    }
}
@media only screen and (max-width:650px) {
    .contact {
        background-size: 0 0, 225px 200px;
        padding: 80px 0 84px 0;
    }
    .contact-container {
        padding: 0 24px 0 24px;
    }
    .contact-hero {
        max-width: 450px;
        margin: 0;
    }
}
@media only screen and (max-width:460px) {
    .contact{
        background-position: top 100px left -100px, bottom -100px right -100px;
    }
    .contact-hero__title {
        font-size: 40px;
        line-height: 40px;
    }
    .contact-hero__title-ask {
        font-size: 32px;
        line-height: 48px;
    }
}